<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Home</title>
  </head>
  <body class="body">
    <div class="main-wrapper">
      <aside class="aside">
        <form id="numberOfItemsForm" class="numberOfItemsForm">
          <h1>Quantity</h1>
          <input
            id="numberOfItemsInput"
            class="numberOfItemsInput"
            type="number"
            min="0"
            placeholder="Type here"
          />
        </form>
      </aside>

      <main class="main">
        <div id="items-wrapper" class="items-wrapper"></div>
      </main>
    </div>

    <script>
      document
        .getElementById("numberOfItemsInput")
        .addEventListener("input", function () {
          let num = this.value;

          let wrapper = document.getElementById("items-wrapper");
          wrapper.innerHTML = "";

          for (let i = 1; i <= num; i += 1) {
            let itemDiv = document.createElement("div");
            itemDiv.className = "item";

            let numberDiv = document.createElement("div");
            numberDiv.className = "item__number-div";
            numberDiv.textContent = i;

            itemDiv.appendChild(numberDiv);
            wrapper.appendChild(itemDiv);
          }
        });

      window.onload = function () {
        document.getElementById("numberOfItemsForm").reset();
      };
    </script>
  </body>
</html>
